{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div id="fh5co-main">
        <a href="{{ path('question_index') }}" class="btn btn-primary"><i class="icon-arrow-left2"></i> Back</a>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>{{ question.title }}</h1>
                    <span style="font-style: italic; font-size: 15px; color: #EF5353;"><i class="icon-user"></i> Posted by {{ question.user.fullname }} - {{ question.createdAt|date }}</span>
					<p>{{ question.description }}</p>
				</div>
        	</div>
       </div>
	</div>
	<div id="fh5co-main">
		<div class="container">
			<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Jawaban:</h2>
            </div>
			{% for answer in question.answers %}
                <hr>
				<div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
					<p>{{ answer.description }}</p>
                    <span style="font-style: italic; margin-top: -40px;float: right; font-size: 15px; color: #EF5353;"><i class="icon-user"></i> Posted by {{ answer.user.fullname }} - {{ answer.createdAt|date }}</span>
				</div>
			{% endfor %}
        	</div>
       </div>
	</div>
{% endblock %}
